#content13 {
    background-color: #16202f;
    grid-area: content13;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
    display: grid;
    grid-template-columns: 1fr 15fr;
    grid-template-areas:
        "Graph_Header Graph_Header"
        "vol_bar chart";

}

#Graph_Header {
    align-items: center;
    color: #e8e4df;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-area: Graph_Header;
    gap:33px;
}

.lab1,
.lab2 {
    font-size: 20PX;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15PX;
    font-weight: bold;

}

.inp1,
.inp2 {
    border-radius: 25px;
    border-color: #ffffff00;
    outline: none;
    width: 147px;
    height: 21px;
    MARGIN-LEFT: -89PX;
}

.graph_buttonHeader{
    width: 87px;
    height: 28px;
    border: none;
    outline: none;
    background-color: #d59563;
    color: aliceblue;
    border-radius: 15px;
    font-size: 20PX;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#vol_bar{
    COLOR: aliceblue;
     line-height: 0px;
    FONT-SIZE: 14PX;
    font-weight: 400;
    width: 62px;
    height: 100%;
    z-index: 300000;
    grid-area:vol_bar;

}

#chart{

    grid-area: chart;
    overflow-x: auto;
}


.year_data {
    COLOR: aliceblue;
    font-size: 21PX;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-evenly;
    width: 100%;
    position: relative;
    display: grid;

}
.scroll-chart {
    overflow-x: auto;
}

.drawchart {
    height:555px;
    display: grid;
    width: 101%;
    grid-template-rows: 1fr 1fr;
    gap: 1px;
    grid-template-areas:
        "a"
        "b";
}

.Graph_Data_negative_chart{
    display: flex;
    height: 100%;
    position: relative;
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
    gap: 2px;
    flex-direction: row-reverse;
}

.Graph_Data_positive_chart {

    margin-left: 11px;
    height: 100%;
    position: relative;
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    margin: 0 auto;
    gap: 2px;
}

.positive_part_of_graph{
    display: grid;
    align-items: end;

}

.negative_part_of_graph{
    display: grid;
    height: 100%;

}


.Net_data_chart {
    width: 23px;
    position: revert;
    display: inline-block;
    border: 5px solid #795ab0;
}

.Acquisition_data_chart {
    width: 25px;
    background-color: #d59563;
    position: revert;
    display: inline-block;
}

.Disposition_data_chart {
    width: 25px;
    background-color: #439abb;
    position: revert;
    display: inline-block;
    /*margin-left: 6px;*/
    margin-top: 0;
}

