#content13 {
    background-color: #16202f;
    grid-area: content13;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
    display: grid;
    grid-template-columns: 1fr 15fr;
    grid-template-areas:
        "Graph_Header Graph_Header"
        "length2 charts2 ";

}

#Graph_Header {
    align-items: center;
    color: #e8e4df;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-area: Graph_Header;
    gap:33px;
}

.lab1,
.lab2 {
    font-size: 20PX;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15PX;
    font-weight: bold;

}

.inp1,
.inp2 {
    border-radius: 25px;
    border-color: #ffffff00;
    outline: none;
    width: 147px;
    height: 21px;
    MARGIN-LEFT: -89PX;
}

.graph_buttonHeader{
    width: 87px;
    height: 28px;
    border: none;
    outline: none;
    background-color: #d59563;
    color: aliceblue;
    border-radius: 15px;
    font-size: 20PX;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#length2 {
    COLOR: aliceblue;
     line-height: 0px;
    FONT-SIZE: 14PX;
    font-weight: 400;
    width: 62px;
    height: 100%;
    z-index: 300000;
    grid-area: length2;

}

#charts2{

    grid-area: charts2;
    overflow-x: auto;
}


.year_data {

    COLOR: aliceblue;
    FONT-SIZE: 21PX;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-evenly;
    width: 100%;
    position: relative;
    display: grid;

}

/*.charts {*/
/*    MARGIN-LEFT: 21PX;*/
/*    height: 448px;*/


/*}*/

.scroll-chart {
    /*margin-top: -434px;*/
    /*margin-left: 90px;*/
    overflow-x: auto;




}

/*.spanchart1 {*/
/*    margin-bottom: 26px;*/
/*}*/

/*.spanchart2 {*/
/*    bottom: 42px;*/
/*    margin-left: -94px;*/

/*}*/

.drawchart {
    /*border-left: 1.5px solid #111926;*/
    height:555px;
    overflow: hidden;
    /* display: flex; */
    display: grid;
    /* width: 124%; */
    width: 101%;
    grid-template-rows: 1fr 1fr;
    /* gap: 48px; */
    /* grid-auto-columns: auto; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
    grid-template-areas:
        "a"
        "b";

}

.Graph_Data_chart,
.chart2,
.chart3,
.chart4,
.chart5,
.chart6,
.chart7,
.chart8,
.chart9 {
    height: 408px;
    width: 115px;
    border-right: 1.5px #111926 solid;
    border-left: 1.5PX #111926 solid;
}
.Graph_Data_chart2{
    display: flex;
    height: 100%;
    position: relative;
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
    gap: 2px;
    flex-direction: row-reverse;
}

.Graph_Data_chart1 {

    margin-left: 11px;
    height: 100%;
    position: relative;
    display: flex;
    /* top: 131px; */
    /*left: -41px;*/
    align-items: flex-end;
    flex-direction: row-reverse;
    margin: 0 auto;
    gap: 2px;
}

.Net_data_chart {
    width: 23px;
    position: revert;
    display: inline-block;
    border: 5px solid #795ab0;
    /*border-top: 3px solid #795ab0;*/
    /*border-right: 3px solid #795ab0;*/
    /*border-left: 3px solid #795ab0;*/
}

.Acquisition_data_chart {
    width: 25px;
    background-color: #d59563;
    position: revert;
    display: inline-block;
}

.Disposition_data_chart {
    width: 25px;
    background-color: #439abb;
    position: revert;
    display: inline-block;
    /*margin-left: 6px;*/
    margin-top: 0;
}

.a{
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;*/
    align-items: end;
    /*justify-items: center;*/
    /*height: 281px;*/

}

.b{
    display: grid;
    height: 100%;
    /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;*/
    /*justify-items: center;*/
}
.purblechartn {
    height: 17px;
    width: 28px;
    position: relative;
    left: 72px;
    margin-top: 11px;
    border: 5PX SOLID #795ab0;
}

.orangechartn {
    height: 17px;
    width: 28px;
    background-color: #d59563;
    position: relative;

    left: 72px;
    top: 14px;
}

.bubbybluechartn {
    height: 17px;
    width: 28px;
    background-color: #439abb;
    position: relative;
    left: 72px;
    top: 14px;
}

.bubbybluechart7 {
    height: 17px;
    width: 28px;
    background-color: #439abb;
    position: revert;
    margin-left: 48px;
    margin-top: 0px;
}

.purblechartn {
    height: 17px;
    width: 28px;
    position: relative;
    left: 72px;
    margin-top: 11px;
    border: 5PX SOLID #795ab0;
}

.orangechartn {
    height: 17px;
    width: 28px;
    background-color: #d59563;
    position: relative;

    left: 72px;
    top: 14px;
}

.bubbybluechartn {
    height: 17px;
    width: 28px;
    background-color: #439abb;
    position: relative;
    left: 72px;
    top: 14px;
}



.Generalnote1 {
    display: flex;
    justify-content: space-between;
    position: absolute;
    align-content: center;
    flex-direction: column;
    align-items: flex-start;
    color: aliceblue;
    margin-left: 1165px;
    MARGIN-TOP: -494PX;
    FONT-SIZE: 10PX;
    FONT-FAMILY: ARIAL;
    FONT-WEIGHT: bold;
    display: none;

}

.note0 {

    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: space-around;
    align-items: flex-end;
}

.Net {
    position: relative;
    top: -14px;
}