.company_name {
    text-decoration: none;
    color: aliceblue;
    font: 14 3em Arial, Helvetica, sans-serif;
}

.header_search {
    height: 1px;
    width: 190PX;
    border-radius: 25px;
    border-color: #ffffff00;
    outline: none;
    font-size: 15PX;
    padding: 11px;

}


.button {
    background-color: #16202f00;
    border: NONE;
}


nav {
    background-color: #15171e;
    grid-area: nav;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}



img[ alt="darkmode"] {
    height: 42px;
    width: 82PX;
}

img[alt="helpLogo"] {
    height: 33px;
    width: 30PX;
}

img[alt="adminLogo"] {

    height: 51px;
    width: 55PX;


}
