#sidebar {
    background-color: #15171e;
    grid-area: sidebar;
    padding: var(--main-padding);
    width: 258px;
    display: block;
    height: 100%;
    position: fixed;
    z-index: 9000;
    top: 0;
    left: 4px;
    overflow-x: hidden;
    padding-top: 9px;
    padding-left: 23px;
    margin-left: -10px;
    border-right: #16202f 7px solid;

}


.navigation {
    margin-left: 48px;
    margin-top: -11px;

}


.sidebarmenu {
    margin-left: -55px;

}


.ZEYSTRA {
    font-size: 31px;
    color: aliceblue;
    user-select: none;
    width: 189px;
    display: flex;
    align-items: center;
    font-family: SitkaZ2;
    padding: 13px 2px;
    margin-left: -7px;
}

.Dashboard {
    display: flex;
    align-items: center;
}


.dashFillter {
    margin-left: 10px;
}

details[open] .dropdown-wrapper {
    animation: fade-in 0.5s forwards;
    list-style-position: outside;
    animation: fade-in 0.5s forwards;
    line-height: 43px;
    margin-left: 29px;
}

.ul {
    margin-top: -13px;
    margin-left: 39px;
}

ul li.a {
    color: white;
    margin: 5px;
    list-style-type: circle;
}

.anui,
summary {
    padding: 1.1em 0;
    color: #DFDBD9;
    font: 400 1.125em ARIAL;
    display: flex;
    align-items: end;
    cursor: pointer;

}

.aside {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 13.5em;
    background: #15171e;
    overflow-y: scroll;
    padding-left: 17px;
    z-index: 5000;
    will-change: transform;
    transition: all .3s ease-in-out;
    overflow-x: hidden;

}

.anmy {
    display: flex;
    align-items: baseline;
    align-content: center;
    justify-content: flex-start;
    flex-direction: row;


}

.anui:hover,
.summary:hover {
    color: #fff;


}

summary {
    font-weight: 700;
    transition: .15s linear color;
}

.anmy {
    display: flex;
}

a.anui,
summary {
    padding: 1.1em 0;
    color: #DFDBD9;
    font: 400 1.125em ARIAL;



}

.anui:hover,
.summary:hover {
    color: #fff;
}


button[name="Reset"] {
    width: 57px;
    height: 29px;
    border: none;
    display: inline-block;
    outline: none;
    background-color: #d59563;
    color: aliceblue;
    border-radius: 15px;
    font-size: 17PX;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: -1PX;
    margin-top: 30px;
}

button[name="Save"] {
    width: 65px;
    height: 29px;
    border: none;
    outline: none;
    background-color: #202020;
    color: aliceblue;
    border-radius: 15px;
    font-size: 18PX;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    POSITION: RELATIVE;
    margin-left: 7PX;
    margin-top: 30px;
}


.aside button:hover {
    background-color: #d59563;
    color: #fff;
    cursor: pointer;
}

summary {
    padding: 1.1em 0;
    color: #DFDBD9;
    font: 400 1.125em ARIAL;
    padding: 30px;
    font-size: 24px;
    /* box-shadow: 0 1px 0 rgb(255 255 255 / 10%) inset; */
    color: aliceblue;
    text-decoration: none;
    /* display: block; */
    /* padding: 40px 25px; */
    /* font-size: 22px; */
    line-height: 1;
    /* margin-left: -33px; */
    margin-top: -39px;
}

.fillter {

    margin-left: -33px;

}

.anui:hover,
.summary:hover {
    color: #fff;
}


.Dashboard2 {
    padding: 1.1em 0;
    color: #DFDBD9;
    font: 400 1.125em ARIAL;
    padding: 30px;
    font-size: 22px;
    /* box-shadow: 0 1px 0 rgb(255 255 255 / 10%) inset; */
    color: aliceblue;
    text-decoration: none;
    /* display: block; */
    /* padding: 40px 25px; */
    /* font-size: 22px; */
    line-height: 1;
    margin-left: -13px;
}

button[name="Reset"] {
    width: 101px;
    height: 32px;
    border: none;
    display: inline-block;
    outline: none;
    background-color: #d59563;
    color: aliceblue;
    border-radius: 15px;
    font-size: 23PX;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: -77PX;
    margin-top: 30px;

}

button[name="Save"] {
    width: 101px;
    height: 32px;
    border: none;
    outline: none;
    background-color: #202020;
    color: aliceblue;
    border-radius: 15px;
    font-size: 23PX;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    POSITION: RELATIVE;
    margin-left: 7PX;
    margin-top: 30px;
}


.aside {
    position: fixed;
    left: -39px;
    top: -31px;
    bottom: 0;
    width: 16.5em;
    background: #15171e;
    overflow-y: scroll;
    padding-left: 20px;
    z-index: 5000;
    will-change: transform;
    transition: all .3s ease-in-out;
    overflow-x: hidden;
    display: block;
}

.navbar {
    display: none;
}

.ZEYSTRA {
    font-size: 31px;
    color: aliceblue;
    user-select: none;
    width: 189px;
    display: flex;
    align-items: center;
    font-family: SitkaZ2;
    padding: 13px 2px;
    margin-left: -7px;
}

summary::-webkit-details-marker {
    display: none;
}


@keyframes fade-in {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.Dashboard {
    display: flex;
    align-items: center;

}

img[alt="liLOGO"] {
    width: 36px;
    margin-left: -11px;
    margin-top: -2px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    margin-right: 0.5rem;
    text-transform: lowercase;
    font: 300 2em Arial;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-right: 2px;

}

img[alt="bulogo"] {
    width: 25px;
    height: 25px;
    margin-top: 20px;
    margin-left: 15px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0rem;
    text-transform: lowercase;
    font: 300 2em Arial;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-right: 9px;

}


.aside {
    position: fixed;
    left: -39px;
    top: -3px;
    bottom: 0;
    width: 16.5em;
    background: #15171e;
    overflow-y: scroll;
    padding-left: 58px;
    z-index: 5000;
    will-change: transform;
    transition: all .3s ease-in-out;
    overflow-x: hidden;
}

.anmy {
    display: flex;
    align-items: baseline;
    align-content: center;
    justify-content: flex-start;
    flex-direction: row;


}

ul li.a {
    color: white;
    /* margin: 5px; */
    margin-left: -1px;
    margin-top: -9px;
    list-style-type: circle;
}

.anui,
summary {
    padding: 1.1em 0;
    color: #DFDBD9;
    font: 400 1.125em ARIAL;
    display: flex;
    align-items: end;
    cursor: pointer;

}

.anui:hover,
.summary:hover {
    color: #fff;


}


/* .Geograpy {
    margin-top: -35px;
}

.Tenancy {
    margin-bottom: 36px;
} */



.anmy {
    display: flex;
}



a.anui, span.anui {
    padding: 1.1em 0;
    color: #DFDBD9;
    font: 400 1.125em ARIAL;
    padding: 30px;
    font-size: 16px;
    /* box-shadow: 0 1px 0 rgb(255 255 255 / 10%) inset; */
    color: aliceblue;
    text-decoration: none;
    /* display: block; */
    /* padding: 40px 25px; */
    /* font-size: 22px; */
    line-height: 1;

}

.anui:hover,
.summary:hover {
    color: #fff;
}




.aside button:hover {
    background-color: #d59563;
    color: #fff;
    cursor: pointer;
}



.ZEYSTRA {
    font-size: 37px;
    color: aliceblue;
    user-select: none;
    width: 189px;
    display: flex;
    align-items: center;
    font-family: SitkaZ2;
    padding: 13px 2px;
    margin-left: -48px;

}

summary::-webkit-details-marker {
    display: none;
}



@keyframes fade-in {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.Dashboard {
    display: flex;
    align-items: center;
    margin-left: 42px;
    margin-bottom: -28px;

}

img[alt="liLOGO"] {
    width: 36px;
    margin-left: -11px;
    margin-top: -2px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    margin-right: 0.5rem;
    text-transform: lowercase;
    font: 300 2em Arial;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-right: 2px;

}

img[alt="bulogo"] {
    width: 26px;
    height: 26px;
    margin-top: 20px;
    margin-left: 15px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0rem;
    text-transform: lowercase;
    font: 300 2em Arial;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-right: -4px;

}


.aside {
    position: fixed;
    left: -39px;
    top: -3px;
    bottom: 0;
    width: 12em;
    background: #15171e;
    overflow-y: scroll;
    padding-left: 58px;
    z-index: 5000;
    will-change: transform;
    transition: all .3s ease-in-out;
    overflow-x: hidden;
}


.anmy {
    display: flex;
    align-items: baseline;
    align-content: center;
    justify-content: flex-start;
    flex-direction: row;


}



ul li.a {
    color: white;
    /* margin: 5px; */
    margin-left: -1px;
    margin-top: -9px;
    list-style-type: circle;
}

.anui,
summary {
    padding: 1.1em 0;
    color: #DFDBD9;
    font: 400 1.125em ARIAL;
    display: flex;
    align-items: end;
    cursor: pointer;

}

img[alt="bulogopri"] {
    width: 25px;
    height: 25px;
    margin-top: 20px;
    margin-left: 15px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0rem;
    text-transform: lowercase;
    font: 300 2em Arial;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-left: -17px;
    margin-right: 36px;
}

.anui:hover,
.summary:hover {
    color: #fff;


}

summary {
    padding: 1.1em 0;
    color: #DFDBD9;
    font: 400 1.125em ARIAL;
    /* padding: 30px; */
    font-size: 24px;
    /* box-shadow: 0 1px 0 rgb(255 255 255 / 10%) inset; */
    color: aliceblue;
    text-decoration: none;
    /* display: block; */
    /* padding: 40px 25px; */
    /* font-size: 22px; */
    line-height: 1;
}

ul li.a {
    color: white;
    /* margin: 5px; */
    margin-left: -1px;
    margin-top: -9px;
    list-style-type: circle;
}

.anmy {
    display: flex;
}

a.anui, span.anui {
    padding: 1.1em 0;
    color: #DFDBD9;
    font: 400 1.125em ARIAL;
    padding: 30px;
    font-size: 22px;
    /* box-shadow: 0 1px 0 rgb(255 255 255 / 10%) inset; */
    color: aliceblue;
    text-decoration: none;
    /* display: block; */
    /* padding: 40px 25px; */
    /* font-size: 22px; */
    line-height: 1;
    margin-left: -13px;


}

.aside button:hover {
    background-color: #d59563;
    color: #fff;
    cursor: pointer;
}
